.DS_Store
.github-cache.json
.cache/
dist/*
!dist/scripts/
!dist/scripts/**
!dist/media/
!dist/media/**
!dist/fat-chr/
!dist/fat-chr/**
docs/.observablehq/cache/
node_modules/
package-lock.json
yarn-error.log
.local
